<h1>Productos del carrito {{id}}</h1>
<section>
    {{#each productos}}
        <div>
            <p>ID: {{this.product._id}}  Quantity:{{this.quantity}}</p>
            <p>Title: {{this.product.title}}</p>
            <p>Description: {{this.product.description}}</p>
            <p>Code: {{this.product.code}}</p>
            <p>Price: {{this.product.price}}</p>
            <p>Stock: {{this.product.stock}}</p>
            <p>Category: {{this.product.category}}</p>
            <p>Status: {{this.product.status}}</p>
            <p>Thumbnal: {{this.product.thumbnal}}</p>
        </div>
        <hr>
    {{/each}}
</section>