<div>
    <h1>Ticket {{id}}</h1>
    <div>
        <p>Code: {{code}}</p>
        <p>Date: {{purchase_datatime}}</p>
        <p>Amount: {{amount}}</p>
        <p>Purchaser: {{purchaser}}</p>
    </div>
</div>

<a href="/products">Volver a products</a>